name: "Update flake.lock"

on:
    workflow_dispatch:
    schedule:
        - cron: "0 5 * * *"

permissions:
    contents: write

concurrency: 
    group: update-flake-lock
    cancel-in-progress: false

jobs:
    update:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                ref: main
                fetch-depth: 0
            - name: Install Nix
              uses: cachix/install-nix-action@v31
              with:
                nix_path: nixpkgs=channel:nixos-unstable
              
            - name: Update the flake
              run: nix flake update
                
            - name: Push it
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                commit_message: Bump flake.lock
                branch: main
                commit_options: '--no-verify --signoff'
                file_pattern: flake.lock
                commit_user_name: Flake Bot
                commit_author: Flake Bot <actions@github.com>
                skip_dirty_check: false    
                skip_fetch: true
